# Comment line immediately above ownership line is reserved for related other information. Please be careful while editing.
#ECCN:Open Source
#GUSINFO:CC Cosmos,B2C CLI and Developer Tools
* @clavery @wei-liu-sf
